<template>
  <v-row dense>
    <v-col cols="12">
      <v-toolbar flat>
        <v-col cols="12" md="4" offset-md="4">
          <v-text-field
            :value="search"
            append-icon="mdi-magnify"
            label="Search"
            clearable
            hide-details
            @input="setSearch"
          ></v-text-field>
        </v-col>
      </v-toolbar>
      <v-divider></v-divider>
    </v-col>
    <v-col cols="12" wrap>
      <v-row align="center" justify="center" class="px-2">
        <v-col cols="12" md="3">
          <date-range />
        </v-col>
        <v-col cols="12" md="3">
          <v-select
            :value="status"
            class="text-capitalize"
            hide-details
            :items="getStatusFilter"
            :menu-props="{ offsetY: true, closeOnContentClick: true }"
            hide-selected
            label="Status"
            @change="setStatus"
          >
            <template #item="{ item }">
              <v-list-item dense @click="setStatus(item)">
                <v-list-item-title class="text-capitalize">{{
                  item
                }}</v-list-item-title>
              </v-list-item>
            </template>
            <template #selection="{ item }">
              <v-chip small color="info" label>{{ item }}</v-chip>
            </template>
          </v-select>
        </v-col>
        <v-spacer></v-spacer>
        <v-col align="right">
          <slot name="right"></slot>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'
export default {
  name: 'CampaignAdsFilter',
  computed: {
    ...mapState(['search']),
    ...mapState('ads', ['status']),
    ...mapGetters(['getToday']),
    ...mapGetters('ads', ['getStatusFilter']),
  },
  destroyed() {
    this.setSearch('')
  },
  methods: {
    ...mapMutations(['setSearch']),
    ...mapMutations('ads', ['setStatus']),
  },
}
</script>

<style></style>
