<template>
  <v-layout row justify-center>
    <v-dialog :value="dialog" persistent max-width="500px">
      <v-card>
        <v-card-title class="justify-center">
          <span class="headline"
            >{{ indexItem !== -1 ? 'Update' : 'New' }} Ads</span
          >
        </v-card-title>
        <v-card-text>
          <v-form>
            <v-card>
              <v-img
                lazy-src="https://picsum.photos/id/11/10/6"
                src="https://picsum.photos/id/11/500/300"
              >
              </v-img>
              <v-fab-transition>
                <v-btn fab absolute small bottom right color="info">
                  <v-icon small>mdi-pencil</v-icon>
                </v-btn>
              </v-fab-transition>
            </v-card>
            <v-text-field label="Title"></v-text-field>
            <v-select
              :items="getActiveCampaign"
              item-text="title"
              return-object
              label="Select Campaign"
            >
            </v-select>
            <v-select
              :value="position"
              :items="getPositions"
              :hint="
                position
                  ? 'Views: ' +
                    $helper.currencyConverter(position.priceView) +
                    ', Clicks: ' +
                    $helper.currencyConverter(position.priceClick)
                  : ''
              "
              :menu-props="{ offsetY: true, closeOnContentClick: true }"
              item-text="name"
              return-object
              persistent-hint
              label="Position"
              @change="setPosition"
            >
              <template #selection="{ item }">
                <v-chip
                  color="info"
                  class="text-capitalize"
                  small
                  label
                  v-text="item.name"
                ></v-chip>
              </template>
              <template #item="{ item }">
                <v-list-item @click="setPosition(item)">
                  <v-list-item-title class="text-capitalize">{{
                    item.name
                  }}</v-list-item-title>
                </v-list-item>
              </template>
            </v-select>

            <v-select
              v-if="indexItem !== -1"
              :value="editedItemstatus"
              class="text-capitalize"
              hide-details
              :items="getStatusFilter.slice(1)"
              :menu-props="{ offsetY: true, closeOnContentClick: true }"
              hide-selected
              label="Status"
              @change="setEditedItemstatus"
            >
              <template #item="{ item }">
                <v-list-item dense @click="setEditedItemstatus(item)">
                  <v-list-item-title class="text-capitalize">{{
                    item
                  }}</v-list-item-title>
                </v-list-item>
              </template>
              <template #selection="{ item }">
                <v-chip small color="info" label>{{ item }}</v-chip>
              </template>
            </v-select>
            <v-select
              v-if="indexItem !== -1"
              :value="classification"
              :items="['halal', 'vip', 'deluxe']"
              :menu-props="{ offsetY: true, closeOnContentClick: true }"
              label="Classification"
              @change="setClassification"
            >
              <template #selection="{ item }">
                <v-chip
                  color="info"
                  class="text-capitalize"
                  small
                  label
                  v-text="item"
                ></v-chip>
              </template>
              <template #item="{ item }">
                <v-list-item @click="setClassification(item)">
                  <v-list-item-title class="text-capitalize">{{
                    item
                  }}</v-list-item-title>
                </v-list-item>
              </template>
            </v-select>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            small
            @click.native="$emit('closeFormAds')"
            >Close</v-btn
          >
          <v-btn
            color="blue darken-1"
            text
            small
            @click.native="$emit('saveAds')"
            >Save</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex'
export default {
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapState('ads', ['indexItem', 'campaign', 'editedItemstatus']),
    ...mapState('pricing', ['position', 'classification']),
    ...mapGetters('ads', ['getStatusFilter']),
    ...mapGetters('pricing', ['getPositions']),
    getActiveCampaign() {
      return this.campaign.filter((campaign) => campaign.status === 'active')
    },
  },
  methods: {
    ...mapMutations('ads', ['setEditedItemstatus']),
    ...mapMutations('pricing', ['setPosition', 'setClassification']),
  },
}
</script>

<style></style>
