<template>
  <v-dialog :value="dialog" max-width="500px" persistent>
    <v-card>
      <v-card-title class="justify-center">
        <span class="headline"
          >{{ indexItem !== -1 ? 'Update' : 'New' }} Campaign</span
        >
      </v-card-title>
      <v-card-text>
        <v-form>
          <v-text-field
            :value="title"
            label="Campaign Title"
            placeholder="Grand opening"
            required
            color="text-white"
            @change="setTitle"
          ></v-text-field>
          <v-textarea
            :value="description"
            counter
            outlined
            rows="3"
            shaped
            label="Description"
            placeholder="Description grand opening"
            required
            color="text-white"
            :rules="[(v) => v.length <= 140 || 'Max 140 characters']"
            @input="setDescription"
          ></v-textarea>
          <v-select
            v-if="indexItem !== -1"
            :value="editedItemstatus"
            class="text-capitalize"
            hide-details
            :items="getStatusFilter.slice(1)"
            :menu-props="{ offsetY: true, closeOnContentClick: true }"
            hide-selected
            label="Status"
            @change="setEditedItemstatus"
          >
            <template #item="{ item }">
              <v-list-item dense @click="setEditedItemstatus(item)">
                <v-list-item-title class="text-capitalize">{{
                  item
                }}</v-list-item-title>
              </v-list-item>
            </template>
            <template #selection="{ item }">
              <v-chip small color="info" label>{{ item }}</v-chip>
            </template>
          </v-select>
          <v-select
            :value="targetSelected"
            label="Target"
            item-text="name"
            required
            :items="targetItems"
            :menu-props="{ offsetY: true, closeOnContentClick: true }"
            return-object
          >
            <template #selection="{ item }">
              <v-chip
                label
                small
                color="info"
                class="text-capitalize"
                v-text="item.name"
              ></v-chip>
            </template>
            <template #item="{ item }">
              <v-list-item @click="setTargetSelected(item)">
                <v-list-item-action>
                  <v-icon v-text="item.icon"></v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title
                    class="text-capitalize"
                    v-text="item.name"
                  ></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-select>
          <v-text-field
            v-if="targetSelected"
            :value="targetValue"
            :label="targetSelected.label"
            :prepend-inner-icon="targetSelected.icon"
            :prefix="targetSelected.prefix"
            :placeholder="targetSelected.placeholder"
            color="text-white"
            @input="setTargetValue"
          ></v-text-field>
          <date-range :min-date="getToday" :select-or-field="false" />
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          small
          @click.native="$emit('closeFormCampaign')"
          >Close</v-btn
        >
        <v-btn
          color="blue darken-1"
          text
          small
          @click.native="$emit('saveCampaign')"
          >{{ indexItem !== -1 ? 'Update' : 'Save' }}</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'
export default {
  name: 'FormCampaign',
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapState('ads', [
      'editedItemstatus',
      'indexItem',
      'title',
      'targetItems',
      'targetSelected',
      'targetValue',
      'description',
      'selectedItem',
    ]),
    ...mapGetters(['getToday']),
    ...mapGetters('ads', ['getStatusFilter']),
  },
  methods: {
    ...mapMutations('ads', [
      'setEditedItemstatus',
      'setTargetSelected',
      'setTitle',
      'setDescription',
      'setTargetValue',
    ]),
  },
}
</script>

<style></style>
