<template>
  <v-layout>
    <v-select
      v-if="selectOrField"
      :value="getDateRangeText"
      :items="dateRange"
      item-text="name"
      item-value="value"
      return-object
      :menu-props="{
        offsetY: true,
        closeOnContentClick: true,
      }"
      hide-selected
      hide-details
      label="Date Range"
    >
      <template #selection="{ item }">
        <v-chip label small color="info">{{ item.name }}</v-chip>
      </template>
      <template #item="{ item }">
        <v-list-item dense @click="assignDateToDateRange(item)">
          <v-list-item-title>{{ item.name }}</v-list-item-title>
        </v-list-item>
      </template>
      <template #append-item>
        <v-divider></v-divider>
        <v-list-item dense @click="modal = true">
          <v-list-item-title>Custom Date</v-list-item-title>
        </v-list-item>
      </template>
    </v-select>
    <v-text-field
      v-else
      :value="getDateRangeCampaign"
      chips
      label="Start to End Campaign"
      @click.native="modal = true"
      @keypress.enter="modal = true"
    >
    </v-text-field>
    <v-dialog v-model="modal" width="290px" persistent>
      <v-date-picker
        :value="customDateRange"
        range
        :min="minDate"
        :max="maxDate"
        @input="setCustomDateRange"
        @change="setDateRangeCampaign"
      >
        <v-spacer></v-spacer>
        <v-btn text @click="cancelCustomDate">cancel</v-btn>
        <v-btn text @click="customDate">ok</v-btn>
      </v-date-picker>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
export default {
  props: {
    minDate: {
      type: String,
      default: '',
    },
    maxDate: {
      type: String,
      default: '',
    },
    selectOrField: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      modal: false,
    }
  },
  computed: {
    ...mapState(['dateRange', 'dateRangeIndex', 'customDateRange']),
    ...mapState('ads', ['indexItem', 'selectedItem', 'dateRangeCampaign']),
    ...mapGetters(['getDateRangeText']),
    ...mapGetters('ads', ['getDateRangeCampaign']),
  },
  mounted() {
    this.assignDateToDateRange(this.getDateRangeText)
  },
  methods: {
    ...mapMutations([
      'setDateRangeIndex',
      'setCustomDateRange',
      'assignDateRange',
    ]),
    ...mapMutations('ads', ['setDateRangeCampaign']),
    ...mapActions(['pushToDateRange']),
    assignDateToDateRange(dateRange) {
      this.setDateRangeIndex(this.dateRange.indexOf(dateRange))
      if (dateRange.value !== 'customDate') {
        const dateItem = this.$helper.dateRange(dateRange)
        this.assignDateRange(dateItem)
      }
      this.setCustomDateRange(dateRange.date)
    },
    cancelCustomDate() {
      this.modal = false
      this.setCustomDateRange(this.getDateRangeText.date)
    },
    async customDate() {
      await this.pushToDateRange().then(() => (this.modal = false))
    },
  },
}
</script>

<style></style>
