<template>
  <v-dialog :value="$store.state.deleteConfimation" width="290px">
    <v-card>
      <v-card-title>Confirmation</v-card-title>
      <v-card-text> Are you sure want to delete this item ? </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text color="success" @click="$emit('cancelDelete')"
          >cancel</v-btn
        >
        <v-btn text color="error" @click="$emit('confirmDelete')">delete</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {}
</script>

<style></style>
