<template>
  <v-app>
    <v-btn
      v-if="!$vuetify.breakpoint.mobile"
      fab
      x-small
      fixed
      class="btn--minivariant"
      color="info"
      :style="{ left: miniVariant ? '40px' : '240px' }"
      @click.stop="miniVariant = !miniVariant"
    >
      <v-icon>{{
        miniVariant ? 'mdi-chevron-right' : 'mdi-chevron-left'
      }}</v-icon>
    </v-btn>
    <v-navigation-drawer v-model="drawer" fixed app :mini-variant="miniVariant">
      <v-toolbar class="justify-center" color="primary">
        <v-spacer></v-spacer>
        <v-img
          :src="
            miniVariant
              ? 'favicon.ico'
              : 'https://www.mymuslimads.com/img/logo/newlogosfix.png'
          "
          :height="miniVariant ? 20 : 40"
          contain
        ></v-img>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-list class="pt-0">
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar fixed app color="primary" dark>
      <v-icon
        v-if="$vuetify.breakpoint.mobile"
        class="mdi-flip-v"
        @click.prevent="drawer = !drawer"
      >
        mdi-sort-variant
      </v-icon>
      <v-spacer />
      <v-menu offset-y open-on-hover>
        <template #activator="{ on, attrs }">
          <v-btn v-bind="attrs" text v-on="on">
            {{ getDefaultCurrency.code }}
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="item in getCurrency"
            :key="item.id"
            dense
            class="text-center"
            @click="setDefaultCurrency(item)"
          >
            <v-list-item-title class="caption">{{
              item.code
            }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-btn icon @click="toggleDarkMode">
        <v-icon>mdi-theme-light-dark</v-icon>
      </v-btn>
      <v-menu rounded="b-xl" offset-y>
        <template #activator="{ on, attrs }">
          <v-btn v-bind="attrs" icon v-on="on">
            <v-icon>mdi-account</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item class="px-1">
            <v-btn shaped color="info" block>
              <v-icon>mdi-wallet</v-icon>
              <v-spacer></v-spacer>
              {{ $helper.currencyConverter(200) }}
            </v-btn>
          </v-list-item>
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-account-cog-outline</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Account</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-main>
      <v-container fluid>
        <Nuxt />
      </v-container>
    </v-main>
    <v-footer fixed app>
      <span>MuslimAds &copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
export default {
  name: 'DefaultLayout',
  data() {
    return {
      selectedItem: 1,
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/',
        },
        {
          icon: 'mdi-advertisements',
          title: 'Ads',
          to: '/ads',
        },
        {
          icon: 'mdi-radar',
          title: 'Channel',
          to: '/channel',
        },
        {
          icon: 'mdi-currency-usd',
          title: 'Pricing',
          to: '/pricing',
        },
        {
          icon: 'mdi-finance',
          title: 'Finance',
          to: '/finance',
        },
        {
          icon: 'mdi-table-of-contents',
          title: 'CMS',
          to: '/cms',
        },
        {
          icon: 'mdi-account-group-outline',
          title: 'Users',
          to: '/users',
        },
        {
          icon: 'mdi-face-agent',
          title: 'Support',
          to: '/support',
        },
        {
          icon: 'mdi-cog-outline',
          title: 'Setting',
          to: '/setting',
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
    }
  },
  computed: {
    ...mapGetters(['getDefaultCurrency', 'getCurrency']),
  },
  mounted() {
    setTimeout(() => {
      this.$vuetify.theme.dark = localStorage.getItem('darkTheme') === 'true'
    }, 200)
  },
  methods: {
    ...mapMutations({
      setDefaultCurrency: 'setDefaultCurrency',
    }),
    toggleDarkMode() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
      localStorage.setItem('darkTheme', this.$vuetify.theme.dark)
    },
  },
}
</script>

<style>
.btn--minivariant {
  top: 45px;
  z-index: 7 !important;
}
</style>
