<template>
  <v-card>
    <v-card-title class="px-0 px-md-1">
      <v-col cols="12" md="3">
        <date-range />
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="12" md="4">
        <v-text-field
          :value="search"
          append-icon="mdi-magnify"
          label="Search"
          hide-details
          @input="setSearch"
        ></v-text-field>
      </v-col>
    </v-card-title>
    <v-card-text>
      <v-data-table
        :headers="headers"
        :items="getAdsTransactions"
        :search="search"
        show-group-by
      >
        <template #[`item.id`]="{ index }">
          {{ index + 1 }}
        </template>
        <template #[`item.createdAt`]="{ item }">{{
          new Date(item.createdAt).toLocaleString()
        }}</template>
        <template #[`group.summary`]="{ items, group }">
          <td colspan="2" class="primary white--text">
            Summary of {{ group }}
          </td>
          <!-- use $helper function converter in each pages or components -->
          <td colspan="3" class="primary white--text">
            Spending Ads :
            {{ $helper.currencyConverter(earningOrSpending(items, 0.4, 800)) }}
          </td>
          <td class="primary white--text" colspan="3">
            Earning Publisher :
            {{ $helper.currencyConverter(earningOrSpending(items, 0.4, 300)) }}
          </td>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters, mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState(['search']),
    ...mapGetters('adsTransactions', ['getAdsTransactions']),
    headers() {
      return this.$store.state.adsTransactions.headers
    },
  },
  destroyed() {
    this.setSearch('')
  },
  methods: {
    ...mapMutations(['setSearch']),
    // TODO: get viewsFee and clicksFee from server
    earningOrSpending(groupItem, viewsFee, clicksFee) {
      let total = 0
      groupItem.map((item) => {
        total += item.views * viewsFee + item.clicks * clicksFee
        return total
      })
      return total
    },
  },
}
</script>

<style>
.v-data-table-header th {
  white-space: nowrap;
}
</style>
