<template>
  <v-card>
    <v-tabs centered class="rounded-0" background-color="primary">
      <v-tab @click="changeTab('campaign', 'active')">Campaign</v-tab>
      <v-tab @click="changeTab('ads', 'pending')">Ads</v-tab>
      <v-tab-item>
        <v-data-table
          :headers="headersCampaign"
          :items="getCampaign"
          class="elevation-1"
          :loading="!getCampaign"
          :search="search"
          show-group-by
        >
          <template #top>
            <campaign-ads-filter>
              <template #right>
                <v-btn
                  color="info"
                  small
                  :block="$vuetify.breakpoint.mobile"
                  @click="showDialogForm(-1)"
                  >new campaign</v-btn
                >
              </template>
            </campaign-ads-filter>
          </template>
          <template #[`item.id`]="{ index }">{{ index + 1 }}</template>
          <template #[`item.goal`]="{ item }">{{ item.goal.name }}</template>
          <template #[`item.startAt`]="{ item }">{{
            new Date(item.startAt).toLocaleDateString()
          }}</template>
          <template #[`item.endAt`]="{ item }">{{
            new Date(item.endAt).toLocaleDateString()
          }}</template>
          <template #[`item.actions`]="{ item }">
            <v-icon
              small
              class="mx-2"
              color="warning"
              @click="showDialogForm(item)"
              >mdi-pencil</v-icon
            >
            <v-icon
              small
              class="mx-2"
              color="error"
              @click="showDialogConfirmation(item)"
              >mdi-delete</v-icon
            >
          </template>
        </v-data-table>
      </v-tab-item>
      <v-tab-item>
        <v-data-table
          :headers="headersAds"
          :items="getAds"
          class="elevation-1"
          :loading="!getAds"
          :search="search"
          show-group-by
        >
          <template #top>
            <campaign-ads-filter>
              <template #right>
                <v-btn
                  color="info"
                  small
                  :block="$vuetify.breakpoint.mobile"
                  @click="showDialogForm(-1)"
                  >new ads</v-btn
                >
              </template>
            </campaign-ads-filter>
          </template>
          <template #[`item.uuid`]="{ index }">{{ index + 1 }}</template>
          //Format dateTime to locale timezone
          <template #[`item.createdAt`]="{ item }">{{
            new Date(item.createdAt).toLocaleDateString()
          }}</template>
          <template #[`item.actions`]>
            <v-icon small class="mx-2" color="success" @click="showImg = true"
              >mdi-eye</v-icon
            >
            <v-icon small class="mx-2" color="warning">mdi-pencil</v-icon>
            <v-icon small class="mx-2" color="error">mdi-delete</v-icon>
          </template>
        </v-data-table>
      </v-tab-item>
    </v-tabs>
    <v-dialog v-model="showImg" width="400">
      <v-img
        lazy-src="https://picsum.photos/id/11/10/6"
        src="https://picsum.photos/id/11/500/300"
      ></v-img>
    </v-dialog>
    <campaign-ads-form-campaign
      :dialog="dialogCampaign"
      @closeFormCampaign="closeForm"
      @saveCampaign="saveItemCampaign"
    />
    <campaign-ads-form-ads :dialog="dialogAds" @closeFormAds="closeForm" />
    <delete-confirmation
      @cancelDelete="toggleDelete"
      @confirmDelete="deleteCampaign"
    ></delete-confirmation>
  </v-card>
</template>

<script>
import { mapGetters, mapMutations, mapState, mapActions } from 'vuex'
export default {
  name: 'AdsPageIndex',
  data() {
    return {
      dialogCampaign: false,
      dialogAds: false,
      dialogConfirmation: false,
      showImg: false,
    }
  },
  computed: {
    ...mapState(['search', 'customDateRange', 'deleteConfimation']),
    ...mapState('ads', [
      'status',
      'campaign',
      'headersAds',
      'headersCampaign',
      'tabItem',
      'indexItem',
      'targetItems',
    ]),
    ...mapGetters('ads', ['getAds', 'getCampaign']),
  },
  methods: {
    ...mapMutations(['toggleDelete']),
    ...mapMutations('ads', [
      'setTabItem',
      'setIndexItem',
      'setStatus',
      'setEditedItemstatus',
      'setSelectedItem',
      'setTitle',
      'setDescription',
      'setTargetSelected',
      'setTargetValue',
      'setDateRangeCampaign',
      'setDeleteCampaign',
    ]),
    ...mapActions('ads', ['saveCampaign']),
    changeTab(tab, status) {
      this.setTabItem(tab)
      this.setStatus(status)
    },
    setEditedCampaign(item) {
      this.setIndexItem(this.campaign.indexOf(item))
      this.setTitle(this.indexItem !== -1 ? item.title : '')
      this.setDescription(this.indexItem !== -1 ? item.description : '')

      const targetItems = this.targetItems.find((target) =>
        this.indexItem !== -1 ? target.name === item.goal[0].name : target
      )
      this.setTargetSelected(this.indexItem !== -1 ? targetItems : '')
      this.setTargetValue(this.indexItem !== -1 ? item.goal[0].value : '')
      this.setDateRangeCampaign(
        this.indexItem !== -1
          ? [item.startAt.substring(0, 10), item.endAt.substring(0, 10)]
          : []
      )
      this.setEditedItemstatus(this.indexItem !== -1 ? item.status : '')
    },
    showDialogForm(item) {
      if (item === -1) {
        this.setIndexItem(item)
        this.tabItem === 'campaign'
          ? (this.dialogCampaign = true)
          : (this.dialogAds = true)
      } else {
        this.setEditedCampaign(item)
        this.dialogCampaign = true
      }
    },
    closeForm() {
      this.tabItem === 'campaign'
        ? (this.dialogCampaign = false)
        : (this.dialogAds = false)
      this.setEditedCampaign(-1)
    },
    async saveItemCampaign() {
      await this.saveCampaign().then(() => {
        this.dialogCampaign = false
        this.setEditedCampaign(-1)
      })
    },
    showDialogConfirmation(item) {
      this.setIndexItem(this.campaign.indexOf(item))
      this.toggleDelete()
    },
    deleteCampaign() {
      this.setDeleteCampaign()
      this.toggleDelete()
    },
  },
}
</script>

<style></style>
