<template>
  <v-container>
    <v-data-iterator
      :items="channels"
      :items-per-page.sync="itemsPerPage"
      :page.sync="page"
      :search="search"
      :sort-by="sortBy.toLowerCase()"
      :sort-desc="sortDesc"
      hide-default-footer
    >
      <template #header>
        <v-toolbar dark color="primary" class="mb-1">
          <v-text-field
            v-model="search"
            clearable
            flat
            solo-inverted
            hide-details
            prepend-inner-icon="mdi-magnify"
            label="Search"
            dense
          ></v-text-field>
          <template v-if="$vuetify.breakpoint.mdAndUp">
            <v-spacer></v-spacer>
            <v-select
              v-model="sortBy"
              dense
              flat
              solo-inverted
              hide-details
              :items="keys"
              prepend-inner-icon="mdi-magnify"
              label="Sort by"
            ></v-select>
            <v-spacer></v-spacer>
            <v-btn-toggle v-model="sortDesc" mandatory dense>
              <v-btn medium depressed color="blue" :value="false">
                <v-icon>mdi-arrow-up</v-icon>
              </v-btn>
              <v-btn medium depressed color="blue" :value="true">
                <v-icon>mdi-arrow-down</v-icon>
              </v-btn>
            </v-btn-toggle>
          </template>
        </v-toolbar>
      </template>

      <template #default="props">
        <v-row>
          <v-col
            v-for="item in props.items"
            :key="item.name"
            cols="12"
            sm="6"
            md="4"
            lg="3"
          >
            <v-card>
              <v-card-title class="subheading font-weight-bold">
                {{ item.name }}
              </v-card-title>

              <v-divider></v-divider>

              <v-list dense>
                <v-list-item v-for="(key, index) in filteredKeys" :key="index">
                  <v-list-item-content
                    :class="{ 'blue--text': sortBy === key }"
                  >
                    {{ key }}:
                  </v-list-item-content>
                  <v-list-item-content
                    class="align-end"
                    :class="{ 'blue--text': sortBy === key }"
                  >
                    {{ item[key.toLowerCase()] }}
                  </v-list-item-content>
                  <v-list-item-action>
                    <v-btn small icon>
                      <v-icon
                        :color="
                          key.toLowerCase() === 'site'
                            ? 'info'
                            : item.status === 'integrated'
                            ? 'success'
                            : item.status === 'pending'
                            ? 'warning'
                            : 'error'
                        "
                        >{{
                          key.toLowerCase() === 'site'
                            ? 'mdi-open-in-new'
                            : 'mdi-circle-slice-8'
                        }}</v-icon
                      >
                    </v-btn>
                  </v-list-item-action>
                </v-list-item>
                <v-list-item
                  v-if="item.status !== 'integrated'"
                  class="justify-center"
                >
                  <v-btn
                    v-if="item.status === 'pending'"
                    block
                    color="info"
                    small
                    rounded
                    ><v-icon>mdi-dots-horizontal</v-icon> integrating</v-btn
                  >
                  <v-btn-toggle
                    v-if="
                      item.status === 'nonactive' || item.status === 'rejected'
                    "
                    v-model="toggleNone"
                  >
                    <v-btn small
                      ><v-icon small color="info">edit mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn small
                      ><v-icon small color="error">delete mdi-delete</v-icon>
                    </v-btn>
                  </v-btn-toggle>
                </v-list-item>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
      </template>

      <template #footer>
        <v-row class="mt-2" align="center" justify="center">
          <span class="grey--text">Items per page</span>
          <v-menu offset-y>
            <template #activator="{ on, attrs }">
              <v-btn
                dark
                text
                color="primary"
                class="ml-2"
                v-bind="attrs"
                v-on="on"
              >
                {{ itemsPerPage }}
                <v-icon>mdi-chevron-down</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item
                v-for="(number, index) in itemsPerPageArray"
                :key="index"
                @click="updateItemsPerPage(number)"
              >
                <v-list-item-title>{{ number }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>

          <v-spacer></v-spacer>

          <span class="mr-4 grey--text">
            Page {{ page }} of {{ numberOfPages }}
          </span>
          <v-btn
            x-small
            fab
            dark
            color="blue darken-3"
            class="mr-1"
            @click="formerPage"
          >
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
          <v-btn
            x-small
            fab
            dark
            color="blue darken-3"
            class="ml-1"
            @click="nextPage"
          >
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-row>
      </template>
    </v-data-iterator>
    <v-fab-transition>
      <v-btn fab fixed small bottom right color="info">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>
  </v-container>
</template>
<script>
export default {
  name: 'ChannelPage',
  data() {
    return {
      toggleNone: null,
      itemsPerPageArray: [4, 8, 12],
      search: '',
      filter: {},
      sortDesc: false,
      page: 1,
      itemsPerPage: 12,
      sortBy: 'name',
      keys: ['Name', 'Site', 'Status'],
      channels: [
        {
          id: 1,
          name: "Tremblay, O'Hara and Romaguera 15",
          site: 'https://discuz.net',
          createdAt: '2022-12-14T05:04:03Z',
          updatedAt: '2022-11-09T11:02:41Z',
          status: 'integrated',
        },
        {
          id: 2,
          name: 'Hackett, Hoppe and Purdy 62',
          site: 'https://va.gov',
          createdAt: '2022-11-21T19:13:15Z',
          updatedAt: '2022-11-13T08:51:24Z',
          status: 'pending',
        },
        {
          id: 3,
          name: 'Graham LLC 73',
          site: 'https://google.nl',
          createdAt: '2022-11-13T14:30:57Z',
          updatedAt: '2022-11-08T04:05:49Z',
          status: 'nonactive',
        },
        {
          id: 4,
          name: 'Howe-Ritchie 26',
          site: 'http://xinhuanet.com',
          createdAt: '2022-10-26T01:38:33Z',
          updatedAt: '2022-10-01T02:56:04Z',
          status: 'rejected',
        },
        {
          id: 5,
          name: 'McCullough-Tremblay 51',
          site: 'https://gov.uk',
          createdAt: '2022-11-26T11:38:18Z',
          updatedAt: '2022-11-09T17:18:20Z',
          status: 'rejected',
        },
        {
          id: 6,
          name: 'Corkery and Sons 90',
          site: 'https://wikimedia.org',
          createdAt: '2022-10-15T11:37:33Z',
          updatedAt: '2022-11-15T14:56:24Z',
          status: 'pending',
        },
        {
          id: 7,
          name: 'Dibbert and Sons 82',
          site: 'http://google.nl',
          createdAt: '2022-11-02T00:44:26Z',
          updatedAt: '2022-10-27T02:43:29Z',
          status: 'pending',
        },
        {
          id: 8,
          name: 'Mertz, Dooley and Breitenberg 69',
          site: 'https://163.com',
          createdAt: '2022-11-15T13:20:43Z',
          updatedAt: '2022-10-03T22:13:33Z',
          status: 'integrated',
        },
        {
          id: 9,
          name: 'MacGyver-Kessler 21',
          site: 'https://bravesites.com',
          createdAt: '2022-12-08T20:24:59Z',
          updatedAt: '2022-12-11T17:10:56Z',
          status: 'pending',
        },
        {
          id: 10,
          name: 'Aufderhar-Reinger 100',
          site: 'http://harvard.edu',
          createdAt: '2022-12-29T04:57:27Z',
          updatedAt: '2022-11-16T15:29:48Z',
          status: 'pending',
        },
        {
          id: 11,
          name: 'Becker-Will 69',
          site: 'http://google.nl',
          createdAt: '2022-12-28T04:48:09Z',
          updatedAt: '2022-12-22T07:21:53Z',
          status: 'integrated',
        },
        {
          id: 12,
          name: 'Smith Inc 89',
          site: 'http://ucla.edu',
          createdAt: '2022-12-28T04:23:10Z',
          updatedAt: '2022-11-28T01:46:48Z',
          status: 'integrated',
        },
        {
          id: 13,
          name: 'Blanda, Medhurst and Willms 82',
          site: 'https://aol.com',
          createdAt: '2022-12-13T09:11:58Z',
          updatedAt: '2022-11-08T17:47:16Z',
          status: 'rejected',
        },
        {
          id: 14,
          name: 'Wiza-Medhurst 100',
          site: 'http://accuweather.com',
          createdAt: '2022-10-29T04:17:15Z',
          updatedAt: '2022-10-19T20:51:27Z',
          status: 'pending',
        },
        {
          id: 15,
          name: 'Cummerata LLC 62',
          site: 'http://google.de',
          createdAt: '2022-12-28T22:35:01Z',
          updatedAt: '2022-12-14T13:06:57Z',
          status: 'rejected',
        },
        {
          id: 16,
          name: 'Cremin, Erdman and Mills 81',
          site: 'https://usgs.gov',
          createdAt: '2022-11-09T02:18:02Z',
          updatedAt: '2022-12-25T10:38:37Z',
          status: 'rejected',
        },
        {
          id: 17,
          name: 'Witting Inc 60',
          site: 'https://w3.org',
          createdAt: '2022-10-10T23:41:54Z',
          updatedAt: '2022-11-17T11:48:42Z',
          status: 'integrated',
        },
        {
          id: 18,
          name: 'Aufderhar, Doyle and Johnston 38',
          site: 'http://slate.com',
          createdAt: '2022-11-07T12:49:01Z',
          updatedAt: '2022-10-13T11:14:33Z',
          status: 'rejected',
        },
        {
          id: 19,
          name: 'Hirthe Inc 75',
          site: 'http://indiatimes.com',
          createdAt: '2022-10-24T08:13:50Z',
          updatedAt: '2022-12-24T04:23:23Z',
          status: 'integrated',
        },
        {
          id: 20,
          name: 'Shields, Goldner and Lowe 70',
          site: 'https://bbb.org',
          createdAt: '2022-10-29T21:36:48Z',
          updatedAt: '2022-10-06T19:43:51Z',
          status: 'nonactive',
        },
        {
          id: 21,
          name: 'Hammes-Shanahan 52',
          site: 'https://usgs.gov',
          createdAt: '2022-11-22T17:59:46Z',
          updatedAt: '2022-10-27T11:30:19Z',
          status: 'integrated',
        },
        {
          id: 22,
          name: 'Stracke-Walker 48',
          site: 'https://wikipedia.org',
          createdAt: '2022-11-04T07:22:23Z',
          updatedAt: '2022-12-21T17:16:27Z',
          status: 'integrated',
        },
        {
          id: 23,
          name: 'Weissnat-Schneider 75',
          site: 'http://hatena.ne.jp',
          createdAt: '2022-10-30T17:56:03Z',
          updatedAt: '2022-10-24T08:37:00Z',
          status: 'pending',
        },
        {
          id: 24,
          name: 'Kozey-Lehner 98',
          site: 'http://jugem.jp',
          createdAt: '2022-12-08T15:03:08Z',
          updatedAt: '2022-12-09T08:25:28Z',
          status: 'nonactive',
        },
        {
          id: 25,
          name: 'Tremblay-Collins 91',
          site: 'https://taobao.com',
          createdAt: '2022-11-03T18:09:18Z',
          updatedAt: '2022-12-02T05:16:03Z',
          status: 'integrated',
        },
        {
          id: 26,
          name: 'Langworth and Sons 11',
          site: 'https://discuz.net',
          createdAt: '2022-12-05T21:57:37Z',
          updatedAt: '2022-10-12T05:58:25Z',
          status: 'integrated',
        },
        {
          id: 27,
          name: 'Anderson LLC 100',
          site: 'https://quantcast.com',
          createdAt: '2022-11-18T01:27:46Z',
          updatedAt: '2022-12-05T10:59:45Z',
          status: 'rejected',
        },
        {
          id: 28,
          name: 'Goyette LLC 22',
          site: 'http://vimeo.com',
          createdAt: '2022-11-02T13:11:08Z',
          updatedAt: '2022-12-11T19:04:34Z',
          status: 'rejected',
        },
        {
          id: 29,
          name: 'Tromp Group 10',
          site: 'http://com.com',
          createdAt: '2022-11-19T06:27:49Z',
          updatedAt: '2022-10-03T15:49:04Z',
          status: 'pending',
        },
        {
          id: 30,
          name: 'Pfannerstill-Ullrich 47',
          site: 'https://1und1.de',
          createdAt: '2022-12-16T00:00:19Z',
          updatedAt: '2022-10-28T18:15:26Z',
          status: 'rejected',
        },
      ],
    }
  },
  computed: {
    numberOfPages() {
      return Math.ceil(this.channels.length / this.itemsPerPage)
    },
    filteredKeys() {
      return this.keys.filter((key) => key !== 'Name')
    },
  },
  methods: {
    nextPage() {
      if (this.page + 1 <= this.numberOfPages) this.page += 1
    },
    formerPage() {
      if (this.page - 1 >= 1) this.page -= 1
    },
    updateItemsPerPage(number) {
      this.itemsPerPage = number
    },
  },
}
</script>
