<template>
  <v-row justify="center" align="center">
    <v-col cols="12" md="8">
      <v-card elevation="1">
        <v-app-bar dense color="primary" dark class="rounded-0" elevation="1">
          <v-spacer></v-spacer>
          <v-toolbar-title>Earning & Spending</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-menu bottom left offset-y>
            <template #activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" small v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list color="primary" dense class="pa-0" dark>
              <v-list-item to="ads-transactions">
                <v-list-item-title>View More</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-app-bar>
        <v-card-text>
          <client-only>
            <line-chart
              :chart-data="chartData"
              :chart-options="chartOptions"
              :height="200"
              color="primary"
            ></line-chart>
          </client-only>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'IndexPage',
  computed: {
    darkLight() {
      return this.$vuetify.theme.dark ? 'white' : 'black'
    },
    chartData() {
      return {
        labels: ['January', 'February', 'March'],
        datasets: [
          {
            label: 'Spending',
            data: [55000, 220000, 12000],
            backgroundColor: '#d63031',
            borderColor: '#d63031',
            cubicInterpolationMode: 'monotone',
            pointBorderColor: 'white',
            pointRadius: 5,
          },
          {
            label: 'Earning',
            data: [45000, 200000, 125000],
            backgroundColor: '#00b894',
            borderColor: '#00b894',
            cubicInterpolationMode: 'monotone',
            pointBorderColor: 'white',
            pointRadius: 5,
          },
          {
            label: 'Views',
            data: [100000, 200, 120000],
            backgroundColor: '#fdcb6e',
            borderColor: '#fdcb6e',
            cubicInterpolationMode: 'monotone',
            pointBorderColor: 'white',
            pointRadius: 5,
          },
          {
            label: 'Clicks',
            data: [90000, 40000, 12500],
            backgroundColor: '#0984e3',
            borderColor: '#0984e3',
            cubicInterpolationMode: 'monotone',
            pointBorderColor: 'white',
            pointRadius: 5,
          },
        ],
      }
    },
    chartOptions() {
      return {
        responsive: true,
        stacked: false,
        scales: {
          y: {
            type: 'linear',
            display: true,
            position: 'left',
            ticks: {
              color: this.darkLight,
              beginAtZero: true,
            },
            grid: {
              color: this.darkLight,
            },
          },

          x: {
            ticks: {
              color: this.darkLight,
              beginAtZero: true,
            },
          },
        },
      }
    },
  },
}
</script>
